.result {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.communication {
  margin-bottom: 100px;
}
